<div class="row">
    <div class="col-md-12 text-center">
        <h2>Add User</h2>
    </div>
    <div class="row">
        <form [formGroup]="addUser" novalidate class="form">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-4">User Name</div>
                <div class="col-md-4">
                    <input type="text" formControlName="user_name">
                </div>

                <div class="col-md-2"></div>
            </div>

            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-4">User Surname</div>
                <div class="col-md-4">
                    <input type="text" formControlName="user_surname">
                </div>

                <div class="col-md-2"></div>
            </div>

            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <button type="submit" (click)="onSubmit()" class="btn btn-success">Add User</button>
                </div>


                <div class="col-md-2"></div>
            </div>
        </form>
    </div>
</div>