{%extends 'base.html' %}

{%block content %}

    <form class="form" action="/result" method="POST">
        <input placeholder="id" type="text" id="name" name="name">
        <input value="Submit" type="submit">
    </form>

    {% if name %}
        <h1>{{name}}</h1><br>
        <a href="http://127.0.0.1:5000/change">change pasport id</a>
        <a href="http://127.0.0.1:5000/delete">delete citizen</a>
    {% endif %}

    <div>
        <a href="http://127.0.0.1:5000/create">create citizen</a>
    </div>

{% endblock %}